product/app/webview/webview.apk
bootRE/boot.elf
vendor/etc/dts/dts-eagle.lic
recovery.img
system/system/app/BrowserChrome/BrowserChrome.apk
system/system/app/CameraSmartisan3/CameraSmartisan3.apk
system/system/app/IMESmartisan/IMESmartisan.apk
